#tripleforce {
    position: center;
}

#Background {
    display: none;
}

#C {
    animation: cfade 2.0s;
    transform-origin: top;
}

@keyframes cfade {
    0% {
        transform: translate(0, -400px);
        transform: scale(2.0);
    }

    100% {
        transform: translate(0, 0);
        transform: scale(1.0);
    }
}

#T {
    animation: tfade 2.0s;
    transform-origin: right left;
}

@keyframes tfade {
    0% {
        transform: rotateX(480deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

#K {
    animation: kfade 2.0s;
    transform-origin: right bottom;
}

@keyframes kfade {
    0%   {
        transform: scale(0.1);
    }

    100% {
        transform: scale(1.0);
    }
}

#C {
    width: 500px;
    display: block;
    transition: transform .25s linear;
    transform-origin: center;
}

    #C:hover {
        transform: scale(1.4);
        background-color: red;
    }

#T {
    width: 500px;
    display: block;
    transition: transform .25s linear;
    transform-origin: center;
}

    #T:hover {
        transform: scale(1.4);
        background-color: blue;
    }

#K {
    width: 500px;
    display: block;
    transition: transform .25s linear;
    transform-origin: center;
}

    #K:hover {
        transform: scale(1.4);
        background-color: green;
    }

.cls-2:hover {
    fill: red;
}

.cls-3:hover {
    fill: blue;
}

.cls-4:hover {
    fill: green;
}